* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy-Regular;
}

html,body {
    width: 100%;
    height: 100%;
}
#main {
    width: 100%;
    background-color: #fcfaf8;
}
#loader{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #000;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
#loader h3 {
    color: #fff;
}
.loaderclass {
    height: 0.3vw;
    width: 15vw;
    background-color: #fff;
    border-radius: 15px;
}
.loaderline {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    height: 100%;
    width: 0%;
    background-color: #47c698;
    border-radius: 15px;
}
#contentdiv {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 4vw;
}
nav img {
    height: 3vw;
}
nav #links {
    display: flex;
    gap: 20px;
}
nav #links h3 {
    border: 1px solid #000;
    font-size: 1vw;
    padding: 12px 14px;
    border-radius: 25px;
    color: white;
    background-color: #000;
    text-transform: uppercase;
    font-weight: 600;
}
nav #links i {
    font-size: 1.5vw;
    padding: 10px 12px;
    border-radius: 50%;
    color: white;
    background-color: #47c698;
}
#content  {
    width: 100%;
    margin-top: 10%;
    position: relative;
}
#content h4 {
    position: absolute;
    top: 13%;
    right: 18%;
    width: 10%;
    color: #a7a3a3;
    text-transform: uppercase;
    font-size: 1vw;
    opacity: 0;
}
#heading  {
    padding: 0 5vw;
 }
.reveal .parent {
    display: block;
    overflow: hidden;
}
.reveal .parent .child {
    display: block;
    transform: translateY(100%);
    font-size: 9.5vw;
    font-weight: 900;
    color: #343333;
    position: relative;
}
.child:nth-child(1) span::after {
    content: "";
    position: absolute;
    width: 32%;
    height: 16px;
    background-image: url("./Vector.png");
    bottom:0%;
    left:22%;
    transform: translate(-50%,0);
    object-fit: cover;
}